<div class="main-content">
  <div class="border-left">
    <div class="left-triangle"></div>
  </div>
  <div class="border-right">
    <div class="right-triangle"></div>
  </div>
  <div class="main-content-image"></div>
  <div class="main-box">
    <div class='main-box-content content_1'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down gallery-link', style: 'opacity: 1;') do %>
        Gallery<span></span>
      <% end %>
      <div class='section_description gallery_info'>
        <%= t(".gallery_info")%>
      </div>
      <div class='slider carousel gallery_items'>
        <div class='slide'>
          <img class='main-image1 img-responsive' src='<%=asset_path '105_Second_Day_of_Creation.jpg'%>'></img>
        </div>
        <div class='slide'>
          <img class='main-image1 img-responsive' src='<%=asset_path '105_Second_Day_of_Creation.jpg'%>'></img>
        </div>
        <div class='slide'>
          <img class='main-image1 img-responsive' src='<%=asset_path '105_Second_Day_of_Creation.jpg'%>'></img>
        </div>
      </div>
    </div>
    <div class='main-box-content content_2'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down original-link', style: 'opacity: 1;') do %>
        Original Prints<span></span>
      <% end %>
      <div class='section_description original_info'>
        <%= t(".original_info")%>
      </div>
    </div>
    <div class='main-box-content content_3'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down featured-link', style: 'opacity: 1;') do %>
        Featured<span></span>
      <% end %>
      <div class='section_description featured_info'>
        <%= t(".featured_info")%>
      </div>
    </div>
    <div class='main-box-content content_4'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down about-link', style: 'opacity: 1;') do %>
        About Escher<span></span>
      <% end %>
      <div class='section_description about_info'>
        <%= t(".about_info")%>
      </div>
    </div>
    <div class='main-box-content content_5'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down techniques-link', style: 'opacity: 1;') do %>
        Techniques<span></span>
      <% end %>
      <div class='section_description technique_info'>
        <%= t(".technique_info")%>
      </div>
    </div>
  </div>
</div>