<div class="main-content">
  <div class="border-left">
    <div class="left-triangle"></div>
  </div>
  <div class="border-right">
    <div class="right-triangle"></div>
  </div>
  <div class="main-content-image"></div>
  <div class="main-box">
    <div class='main-box-content content_1'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down gallery-link', style: 'opacity: 1;') do %>
        Gallery<span></span>
      <% end %>
      <div class='section_description gallery_info'>
        <%= t(".gallery_info")%>
      </div>
      <div class="fadein">
        <img id="f3" src="http://i.imgur.com/R7A9JXc.png">
        <img id="f2" src="http://i.imgur.com/D5yaJeW.png">
        <img id="f1" src="http://i.imgur.com/EUqZ1Er.png">
      </div>
    </div>
    <div class='main-box-content content_2'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down original-link', style: 'opacity: 1;') do %>
        Original Prints<span></span>
      <% end %>
      <div class='section_description original_info'>
        <%= t(".original_info")%>
      </div>
    </div>
    <div class='main-box-content content_3'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down featured-link', style: 'opacity: 1;') do %>
        Featured<span></span>
      <% end %>
      <div class='section_description featured_info'>
        <%= t(".featured_info")%>
      </div>
    </div>
    <div class='main-box-content content_4'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down about-link', style: 'opacity: 1;') do %>
        About Escher<span></span>
      <% end %>
      <div class='section_description about_info'>
        <%= t(".about_info")%>
      </div>
    </div>
    <div class='main-box-content content_5'>
      <%= link_to("javascript:void(0)", class: 'button ico arrow-down techniques-link', style: 'opacity: 1;') do %>
        Techniques<span></span>
      <% end %>
      <div class='section_description technique_info'>
        <%= t(".technique_info")%>
      </div>
    </div>
  </div>
</div>