<div class='techniques-wrapper'>
	<div class="side-columns"></div>
</div>
<body class="technique_hero"></body>
<div class="box">
  <p class="label_techniques"><span class="align">Techniques</span></p>
  <div class="box-inner">
  	<div class="techniques_content">
		<h2><%= t(".title") %></h2>
		<h4><%= t(".description1") %></h4><br>
		<h4><%= t(".description2") %></h4><br>
		<h4>Escher only needed to ink the block and press it onto paper for black and white wood engravings.  However, he used a registration system to print multi-colored pieces.   The print <a href='sun_and_moon'>Sun and Moon</a> required four blocks.  Here the first three blocks, red, yellow, and blue, have been printed.  The black is always the final block. Click here to see the block from Circle Limit 1.</h4><br>
		<h4><%= t(".description4") %></h4><br>
		<h4><%= t(".description5") %></h4><br>
	</div>
  </div>
</div>