<div id="mySidenav" class="sidenav" tabindex="-1">
	<%= link_to menu_path, { remote: true, class: "closebtn", 'data-toggle': 'modal', 'data-target': '#modal-window' } do %>
		<i class="glyphicon glyphicon-remove menu-remove"></i>
	<% end %>
  <ul class="nav-links">
    <% if home != "0" %>
      <li><%= link_to "Home", root_path, class: 'topbar-links gallery' %></li>
  	<% else %>
      <li><%= link_to "Gallery", pieces_path, class: 'topbar-links gallery' %></li>
    <% end %>
  	<li><%= link_to "Original Prints", originals_path, class: 'topbar-links original-prints'%></li>
  	<li><a class='topbar-links featured' href='#0'>Featured</a></li>
  	<li><%= link_to "About Escher", about_path, class: 'topbar-links about-escher' %></li>
  	<li><%= link_to "Techniques", techniques_path, class: 'topbar-links techniques' %></li>
  <ul>
</div>
