<!-- topbar-content -->
<div class="topbar-wrapper">
	<div id="topbar-container" class="container-fluid">
		<form class='site-nav_form site-nav__item--searchbar js-searchbar' hidden='true'>
			<%= form_tag(pieces_path, :method => "get", id: "search-form", display: "hidden") do %>
				<div class='search-container'>
					<%= button_tag(type: "submit", class: "search-btn") do %>
						<i class="glyphicon glyphicon-search search-enter"></i>
					<% end %>
					<%= text_field_tag :search, params[:search], class: "search-box", placeholder: "Search" %>
				</div>
			<% end %>
		</form>

		<div class='row'>
			<div class='nav navbar-left'>
			    <%= link_to menu_path, { class: 'toggle-menu', remote: true, 'data-toggle': 'modal', 'data-target': '#modal-window' } do %>
			      <i class='glyphicon glyphicon-menu-hamburger col-xs-3'></i>
			    <% end %>
			</div>
			<div class='nav navbar-middle'>
				
			</div>
			<%= render 'shared/search' %>
		</div>

  </div>
</div>
<!-- end topbar -->
