<!-- topbar-content -->
<div class="topbar-wrapper">
	<div id="topbar-container" class="container-fluid">
		<div class='row'>
			<div class='nav navbar-left'>
				<form class='site-nav__item site-nav__item--searchbar js-searchbar js-header-livesearch' hidden='true'>
					<%= form_tag(pieces_path, :method => "get", id: "search-form", display: "hidden") do %>
						<%= text_field_tag :search, params[:search] %>
						<%= submit_tag "Search" %>
					<i class='glyphicon glyphicon-search js-search-icon'>
						<use xlink:href='#search'></use>
					</i>
					<% end %>
				</form>

		    <%= link_to menu_path, { class: 'toggle-menu', remote: true, 'data-toggle': 'modal', 'data-target': '#modal-window' } do %>
		      <i class='glyphicon glyphicon-menu-hamburger col-xs-3'></i>
		    <% end %>
			</div>
			<%= render 'shared/search' %>
		</div>

  </div>
</div>
<!-- end topbar -->
